<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Flex"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".BookingFailedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BookingConfirmedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChangePasswordFragment"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeleteAccountActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InformationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewPhotoActivity"
            android:icon="@drawable/delivery"
            android:label="View Photo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/delivery"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegisterActivity"
            android:icon="@drawable/delivery"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:icon="@drawable/delivery"
            android:label="Flex"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:icon="@drawable/delivery"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>